
@{
    ViewBag.Title = "Urunekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="alert" method="post">

    <div class="a">
        <label>Urun Adı</label>
        <input name="UrunAd" type="text" class="form-control" />

    </div>

    <div class="a">
        <label>Urun Info</label>
        <input x type="text" class="form-control" />

    </div>
    <div class="a">
        <label>Urun İşlemcisi</label>
        <input name="Urunİslemci" type="text" class="form-control" />

    </div>
    <div class="a">
        <label>Urun Disk alanı</label>
        <input name="UrunDisk" type="text" class="form-control" />

    </div>
    <div class="a">
        <label>Urun ram miktarı</label>
        <input name="UrunRam" type="text" class="form-control" />

    </div>

    <div class="a">
        <label>Urun ekran kartı</label>
        <input name="UrunGpu" type="text" class="form-control" />
    </div>
    <button id="btn-kayit">devam et</button>

</form>

