
@{
    ViewBag.Title = "firmasetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="outer-box">
    <div class="login-box">
        <h4 class="login-text">
            Firma ayarları
        </h4>
        <form method="post">
            <center>
                <a href="~/Firmasetting/firmaMail" id="b" type="button" class="btn btn-primary">firma Mailini güncelle</a><p></p>
                <a href="~/Firmasetting/firmaInfo" id="b" type="button" class="btn btn-primary">firma bilgisi güncelle.</a><p></p>
                <a href="~/Firmasetting/firmaAdres" id="b" type="button" class="btn btn-primary">firma adresi güncelle</a><p></p>
                <a href="~/Firmasetting/firmaSifre" id="a" type="button" class="btn btn-primary">Şifreni değiştir</a><p></p>

                <a href="~/firmasetting/firmalagout" type="button" class="btn btn-primary">hesaptan çıkış yap</a><p></p>
            </center>
        </form>
    </div>

</div>

