
@{
    ViewBag.Title = "Listelemasaustu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listelemasaustu</h2>

@{
    foreach (var ktg in Model)
    {
        <h2>@ktg.AltKatagoriAd</h2>
    }
}