
@{
    ViewBag.Title = "setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="outer-box">
    <div class="login-box">
        <h4 class="login-text">
            Kullanıcı ayarları
        </h4>
        <form method="post">
            <center>
                <a href="~/Setting/settingad"class="btn btn-primary">kullanıcı adını veya soyadını değiştir</a><p></p>
                <a href="~/Setting/settingmail" id="b" type="button" class="btn btn-primary">Mailini değiştir</a><p></p>
                <a href="~/Setting/settingsoru" id="b" type="button"class="btn btn-primary">Guvenlik sorusunu değiştir</a><p></p>
                <a href="" id="b" type="button"class="btn btn-primary">siparişlerini sil</a><p></p>
                        
                <a href="~/Setting/sifredegistir" id="a" type="button"class="btn btn-primary">Şifreni değiştir</a><p></p>
                <a href="~/Setting/hesapdelete" id="a" type="button"class="btn btn-danger">hesabını sil</a><p></p>
                <a href="~/Setting/Lagout" type="button"class="btn btn-primary">hesaptan çıkış yap</a><p></p>
            </center>
        </form>
    </div>

</div>