
@{
    ViewBag.Title = "newfirmaSifre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/tasarimkayit.css")

<div class="outer-box">
    <div class="login-box">
        <form method="post">
            <center>
                <h4 class="login-text">yeni şifre</h4>
                <input type="password" name="firmasifre" placeholder="Şifre" required>
                <h4 class="login-text">şifreyi tekrar giriniz</h4>
                <input type="password" name="firmasifre" placeholder="Şifre tekrar" required>
                <button id="btn-login">şifre değiştir</button>
                <p>

                </p>
            </center>
        </form>
    </div>
</div>

